header {
  position: absolute;
  z-index: 9999990 !important;
  max-width: 80vw !important;
}

.hexagon-menu,
.menu {
  justify-content: center;
  display: flex;
}

.menu {
  width: 100%;
  max-width: 100%;
  position: fixed;
  flex-direction: row;
  gap: 16px;
  z-index: 24;
}

.menu .nav-items,
.menu .nav-items-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.menu .nav-items li,
.hamburger-menu,
.hexagon-logo {
  filter: drop-shadow(0 0 0.5rem #ffffff80);
}

.hexagon-menu {
  align-items: center;
  max-width: 104px;
  margin-top: 28px;
}

.hexagon-logo {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hexagon-logo:hover .hexagon-logo-path-1 {
  fill: var(--link-hover-color) !important;
}

.hexagon-logo .hexagon-logo-path-2,
.hexagon-logo .hexagon-logo-path-3 {
  fill: #000 !important;
}

.hexagon-logo:hover .hexagon-logo-path-2,
.hexagon-logo:hover .hexagon-logo-path-3 {
  fill: var(--text-color) !important;
}

.hex a,
.hex label {
  margin-top: 30px;
  width: 104px;
  max-width: 104px;
  height: 60px;
  color: var(--text-color);
  background: var(--hexagon-color);
  border-color: var(--hexagon-color);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  hyphens: auto;
  word-wrap: break-word;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

.hex label {
  margin-top: 58px;
  color: var(--link-color);
}

.hex label:hover {
  color: var(--link-hover-color);
}

.hex a::before,
.hex label::before {
  content: ' ';
  width: 0;
  height: 0;
  left: 0;
  border-bottom: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}

.hex a::after,
.hex label::after {
  content: '';
  width: 0;
  left: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hex a:hover,
.hex label:hover {
  background: var(--hexagon-hover-color);
  border-color: var(--hexagon-hover-color);
}

.menu [class^='nav-items-mobile'],
.hamburger-menu {
  display: none;
}

.menu .nav-items-mobile-open {
  top: 118px;
  flex-direction: column;
  padding: 0;
  gap: 0 !important;
}

.menu .nav-items-mobile-open ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  gap: 8px;
}

.mobile-nav-background {
  display: none;
  background-color: #ffffffba;
  position: absolute;
  width: 100dvw;
  height: 100lvh;
  z-index: 23;
}

@media (width <= 768px) {
  .menu .nav-items {
    display: none;
  }

  .menu .nav-items-mobile-open {
    display: flex;
    position: fixed;
  }

  .hamburger-menu {
    display: flex;
  }

  .menu {
    gap: 8px;
  }
}

.checkboxtoggler {
  width: 3em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  cursor: pointer;
}

.line-1 {
  background: var(--link-color);
  height: 0.4em;
  border-radius: 10em;
  transition-duration: 500ms;
}

.line-2 {
  background: var(--link-color);
  height: 0.4em;
  border-radius: 10em;
  transition-duration: 500ms;
}

.line-3 {
  background: var(--link-color);
  height: 0.4em;
  border-radius: 10em;
  transition-duration: 500ms;
}

#toggle-checker {
  height: 3em;
  width: 100%;
  display: none;
}

#toggle-checker:checked + #toggler-label .checkboxtoggler .line-1 {
  transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
}

#toggle-checker:checked + #toggler-label .checkboxtoggler .line-2 {
  transform: rotate(-45deg) translateY(0) translateX(0.1em);
}

#toggle-checker:checked + #toggler-label .checkboxtoggler .line-3 {
  transform: scaleX(0);
  transform-origin: left;
}
