header {
  position: absolute;
  z-index: 9999990 !important;
  max-width: 80vw !important;
}

.hexagon-menu,
.menu {
  justify-content: center;
  display: flex;
}

.menu {
  width: 100%;
  max-width: 100%;
  position: fixed;
  flex-direction: row;
  gap: 1rem;
  z-index: 24;
}

.menu .nav-items,
.menu .nav-items-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1.75rem;
  gap: 1rem;

  a {
    color: var(--text-color) !important;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li .icon img {
    filter: var(--icon-color-filter);
  }
}

.menu .nav-items li,
.hamburger-menu-container,
.hexagon-logo {
  filter: drop-shadow(var(--hexagon-drop-shadow));
}

.hexagon-logo {
  width: 100%;
  height: 100%;
  cursor: pointer;

  &:focus {
    outline: none;

    a {
      outline: none;
    }
  }
}

.hamburger-menu-container:focus,
.hamburger-menu-container:focus-within,
.hamburger-menu-container:hover,
.hexagon-logo:focus,
.hexagon-logo:focus-within,
.hexagon-logo:hover,
.menu .nav-items li:focus,
.menu .nav-items li:focus-within,
.menu .nav-items li:hover {
  filter: drop-shadow(var(--hexagon-focus-drop-shadow));

  .icon {
    height: 2rem;
    width: 2rem;
  }
}

.hexagon-menu {
  align-items: center;
  max-width: 6.5rem;
  margin-top: 1.75rem;
}

.hexagon-logo:hover .hexagon-logo-path-1,
.hexagon-logo:focus .hexagon-logo-path-1 {
  fill: var(--link-hover-color) !important;
}

.hexagon-logo .hexagon-logo-path-2,
.hexagon-logo .hexagon-logo-path-3 {
  fill: #000 !important;
}

.hexagon-logo:hover .hexagon-logo-path-2,
.hexagon-logo:hover .hexagon-logo-path-3,
.hexagon-logo:focus .hexagon-logo-path-2,
.hexagon-logo:focus .hexagon-logo-path-3 {
  fill: var(--text-color) !important;
}

.menu [class^='nav-items-mobile'],
.hamburger-menu {
  display: none;
}

.menu .nav-items-mobile-open {
  top: 7.5rem;
  flex-direction: column;
  padding: 0;
  gap: 0 !important;
}

.menu .nav-items-mobile-open ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: -1.5rem;
  gap: 8px;
}

.mobile-nav-background {
  display: none;
  background-color: #ffffffba;
  position: absolute;
  width: 100dvw;
  height: 100lvh;
  z-index: 23;
}

.header-search-input {
  filter: drop-shadow(var(--hexagon-drop-shadow));
}

@media (width <= 768px) {
  .menu .nav-items {
    display: none;
  }

  .menu .nav-items-mobile-open {
    display: flex;
    position: fixed;
  }

  .hamburger-menu {
    display: flex;
    height: 7.5rem;
    margin-top: 1.75rem;
    aspect-ratio: var(--hexagon-aspect-ratio);
  }

  .menu {
    gap: 8px;
  }
}

.checkboxtoggler {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  cursor: pointer;
  aspect-ratio: 1;
  height: 3rem;
  width: 3rem;
}

.line-1 {
  background: var(--link-color);
  height: 0.4rem;
  border-radius: 10rem;
  transition-duration: 500ms;
}

.line-2 {
  background: var(--link-color);
  height: 0.4rem;
  border-radius: 10rem;
  transition-duration: 500ms;
}

.line-3 {
  background: var(--link-color);
  height: 0.4rem;
  border-radius: 10rem;
  transition-duration: 500ms;
}

#toggle-checker {
  height: 3rem;
  width: 100%;
  display: none;
}

#toggle-checker:checked + #toggler-label .checkboxtoggler .line-1 {
  transform: rotate(45deg) translateY(0.9rem) translateX(0.9rem);
}

#toggle-checker:checked + #toggler-label .checkboxtoggler .line-2 {
  transform: rotate(-45deg) translateY(0) translateX(0.1rem);
}

#toggle-checker:checked + #toggler-label .checkboxtoggler .line-3 {
  transform: scaleX(0);
  transform-origin: left;
}

.search-modal-active .search-modal-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999998 !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000c;

  .modal-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

    > * {
      width: max(75%, 300px);
    }
  }
}

.header-search-wrapper {
  display: none;

  &.active {
    transform: scaleY(0.01) scaleX(0);
    animation: unfold-in 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    &.out {
      transform: scale(1);
      animation: unfold-out 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }

  .modal-close {
    display: flex;
    justify-content: flex-end;

    .icon-close {
      height: 3rem;
      width: 3rem;

      /* stylelint-disable */
      img {
        filter: var(--icon-color-filter);
        cursor: pointer;
      }
      /* stylelint-enable */
    }
  }

  .header-search-block {
    display: flex;
    gap: 1rem;
    align-items: center;
    filter: var(--hexagon-drop-shadow);

    .search-button {
      text-align: center;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.5rem;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

body.search-modal-active {
  main {
    z-index: 9999996 !important;
  }

  .header-search-wrapper {
    display: flex;
  }
}
