.darts-feature-card-wrapper {
  width: fit-content;

  .darts-feature-card-image {
    position: relative;
    z-index: 25;

    & > div {
      margin-top: 50px;
    }
  }

  .darts-feature-item-container {
    display: flex;
    height: 100px;

    div[class^='darts-feature-item-'] {
      position: relative;
      z-index: 24;
      width: 100%;
      border-left: 4px dashed var(--text-color);
      padding-left: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        margin: 0;
      }
    }
  }
}

@media (width <= 768px) {
  .darts-feature-card-wrapper {
    width: 100%;

    .darts-feature-card-image {
      transform: rotate(-90deg);
      left: 0;
      top: 0;
      position: absolute;

      & > div {
        margin-top: 0;
      }
    }

    .darts-feature-item-container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      height: 100%;

      div[class^='darts-feature-item-'] {
        display: flex;
        flex-direction: row;
        border-left: none;
        padding-left: 0;
        border-bottom: 4px dashed var(--text-color);

        div:nth-child(2) {
          max-width: 35vw;
          text-align: right;
        }
      }
    }
  }
}

@media (width <= 768px) {
  .darts-feature-card-wrapper {
    font-size: 16px;
  }
}

@media (width <= 380px) {
  .darts-feature-card-wrapper {
    font-size: 10px;
  }
}
