.carousel-container {
  width: fit-content;
  margin: auto;
  max-width: min(650px, 100vw);

  &:has(.carousel-wrapper > .hero) {
    max-width: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .carousel-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 100%;

    .carousel {
      width: 100%;
      max-width: 650px;

      nav {
        min-height: 2rem;
        margin-top: 0.5rem;
      }

      .carousel-slides-container {
        position: relative;
      }

      .carousel-slides,
      .carousel-slide-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .carousel-slides {
        display: flex;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        overflow: scroll clip;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .carousel-slides::-webkit-scrollbar {
        display: none;
      }

      .carousel-slide {
        flex: 0 0 100%;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        width: 100%;

        .carousel-slide-image {
          place-self: center;

          picture {
            inset: 0;

            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
        }

        .carousel-slide-content {
          display: flex;
          align-items: flex-end;
          height: 100%;
          z-index: 1;
          padding: 1rem;
          margin: 1.5rem 3rem;
          color: white;
          background-color: rgba(0 0 0 / 50%);
          position: relative;
          width: var(--slide-content-width, auto);

          &.button-container {
            filter: drop-shadow(var(--hexagon-drop-shadow));

            &:has(.hex:hover),
            &:has(.hex:focus),
            &:has(.hex:focus-within) {
              filter: drop-shadow(var(--hexagon-focus-drop-shadow));
            }
          }
        }
      }

      .carousel-slide-indicators {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        max-width: 100%;

        .carousel-slide-indicator {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .carousel-slide-indicator button {
        height: 1.5rem;
        width: 1.7325rem;
        aspect-ratio: var(--hexagon-aspect-ratio);

        span {
          color: transparent;
          height: 0;
          width: 0;
        }

        &::before,
        &::after {
          content: none;
        }

        &:disabled,
        &:hover,
        &:focus-visible {
          background-color: #191919;
        }
      }

      .carousel-navigation-buttons {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        filter: drop-shadow(var(--hexagon-drop-shadow));
        height: 20%;

        .carousel-button {
          background-color: #2e2e2e;
          cursor: pointer;
          transform: scale(0.5);
          margin: -1rem;

          .icon {
            height: 6rem !important;
            width: 5.2rem !important;

            img {
              filter: invert(100%) sepia(0%) saturate(3839%) hue-rotate(328deg) brightness(115%)
                contrast(101%);

              &[data-icon-name='chevron-left'] {
                margin-left: -0.25rem;
              }

              &[data-icon-name='chevron-right'] {
                margin-right: -0.25rem;
              }
            }
          }

          &:hover {
            background: var(--hexagon-hover-color);
            border-color: var(--hexagon-hover-color);
          }
        }
      }

      &.hero {
        max-width: 100%;
        padding: 0;

        .carousel-slide {
          min-height: min(40rem, calc(100svh - var(--nav-height)));

          .carousel-slide-image {
            place-self: center;
            inset: 0;
            object-position: center;
            height: 100%;

            img {
              height: 100%;
              width: 100vw;
              object-fit: cover;
            }
          }

          .carousel-slide-content {
            display: flex;
            align-items: flex-end;
            height: 100%;
            gap: var(--gap);
            z-index: 1;
            padding: 1rem;
            margin: 1.5rem 3rem;
            color: white;
            position: absolute;
            background: none;
            width: var(--slide-content-width, auto);
          }
        }

        .carousel-navigation-buttons .carousel-button {
          margin: 0;
        }
      }
    }
  }
}

@media (width >= 600px) {
  .carousel .carousel-slide .carousel-slide-content {
    padding: 2.5rem 5rem !important;
  }
}
