.table {
  width: 100%;
  overflow-x: auto;
}

.modal-open table,
.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);

  thead tr {
    border-top: 2px solid;
    border-bottom: 2px solid;
  }

  th {
    font-weight: 700;
  }

  tbody tr {
    border-bottom: 1px solid;
  }
}

@media (width >= 600px) {
  .modal-open table,
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .modal-open table,
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.modal-open table th,
.modal-open table td,
.table table th,
.table table td {
  padding: 8px 16px;
  text-align: left;
}

/* no header variant */
.modal-open.no-header table tbody tr,
.table.no-header table tbody tr {
  border-top: 1px solid;
}

/* striped variant */
.modal-open.striped tbody tr:nth-child(odd),
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
}

/* bordered variant */
.modal-open.bordered table th,
.modal-open.bordered table td,
.table.bordered table th,
.table.bordered table td {
  border: 1px solid;
}
