/* search box */
.search .search-box {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 8px;
  align-items: center;
}

.search .search-box input {
  width: 100%;
  border: 1px solid var(--dark-color);
  padding: 5px 15px;
  font: inherit;
}

.search .search-box .icon {
  filter: var(--icon-color-filter);
}

/* search results */
.search ul.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  gap: 16px;
  padding-left: 0;
  list-style: none;
}

.search ul.search-results > li {
  border: 1px solid var(--dark-color);
  filter: drop-shadow(var(--hexagon-drop-shadow));
}

.search ul.search-results > li > a {
  display: block;
  color: currentcolor;
  cursor: pointer;
  height: 100%;
}

.search ul.search-results > li > a:hover,
.search ul.search-results > li > a:focus {
  text-decoration: none;
}

.search ul.search-results > li .search-result-title,
.search ul.search-results > li p {
  padding: 0 16px;
}

.search ul.search-results > li .search-result-title {
  font-size: var(--body-font-size-m);
  font-weight: normal;
}

.search ul.search-results > li .search-result-title a {
  color: currentcolor;
  text-decoration: none;
}

.search ul.search-results > li p {
  font-size: var(--body-font-size-s);
}

.search ul.search-results > li .search-result-image {
  aspect-ratio: 4 / 3;
}

.search ul.search-results > li picture img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

/* no results */
.search ul.search-results.no-results {
  display: block;
  padding-left: 32px;
}

.search ul.search-results.no-results > li {
  border: none;
}
