footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #10182f;
}

footer .footer .footer-row {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 3.5rem;
}

footer .footer .section .default-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer .section .default-content-wrapper h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400 !important;
}

footer .section .default-content-wrapper ul {
  margin-top: 20px;
}

footer .section .default-content-wrapper ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer .section .default-content-wrapper ul li a {
  text-decoration: none;
  color: #bfbfbf;
}

footer .section .default-content-wrapper ul li a:hover {
  color: #fff;
}

footer .section .default-content-wrapper p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

/* footer .section .default-content-wrapper form {
  display: flex;
  gap: 5px;
}

footer .section .default-content-wrapper input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

footer .section .default-content-wrapper input::placeholder {
  color: #ccc;
}

footer .section .default-content-wrapper form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

footer .section .default-content-wrapper form button:hover {
  background: #cecccc;
}

footer .section .default-content-wrapper .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

footer .section .default-content-wrapper .icons i {
  color: #afb6c7;
}

footer .section .default-content-wrapper .icons i:hover {
  color: #fff;
} */

@media (max-width: 768px) {
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  footer .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  footer .section .default-content-wrapper form {
    display: block;
  }

  footer .section .default-content-wrapper form :where(input, button) {
    width: 100%;
  }

  footer .section .default-content-wrapper form button {
    margin: 10px 0 0 0;
  }
}
