/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #d40c0c;
  --link-hover-color: #c00707;
  --background-color: #242424;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #fff;
  --primary-text-color: #000;
  --hexagon-color: #242424e6;
  --hexagon-hover-color: #242424;
  --icon-color-filter: invert(100%) sepia(0%) saturate(3839%) hue-rotate(328deg) brightness(115%)
    contrast(101%);

  /* fonts */
  --body-font-family: roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', 'Roboto Mono Fallback', menlo, 'menlo Fallback', consolas,
    'consolas Fallback', 'Liberation Mono', 'Liberation Mono Fallback';

  /* body sizes */
  --body-font-size-m: 1.25rem;
  --body-font-size-s: 1rem;
  --body-font-size-xs: 0.75rem;

  /* heading sizes */
  --heading-font-size-xxl: 3rem;
  --heading-font-size-xl: 2.5rem;
  --heading-font-size-l: 2rem;
  --heading-font-size-m: 1.5rem;
  --heading-font-size-s: 1.25rem;
  --heading-font-size-xs: 1.125rem;

  /* nav height */
  --nav-height: 4rem;

  /* gap */
  --gap: 1rem;

  /* border-radius */
  --border-radius: 1rem;

  /* hexagon */
  --hexagon-drop-shadow: 0 0 0.5rem #ffffff80;
  --hexagon-box-shadow: 0 0 1rem #ffffff80;
  --hexagon-focus-drop-shadow: 0 0 1rem #f00;
  --hexagon-focus-box-shadow: 0 0 2rem #f00;
  --hexagon-aspect-ratio: 1 / 1.1547;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --body-font-size-m: 1.375rem;
    --body-font-size-s: 1.25rem;
    --body-font-size-xs: 1rem;
    --heading-font-size-xxl: 3.75rem;
    --heading-font-size-xl: 3rem;
    --heading-font-size-l: 2.25rem;
    --heading-font-size-m: 1.875rem;
    --heading-font-size-s: 1.5rem;
    --heading-font-size-xs: 1.375rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* For Firefox */
html {
  scrollbar-width: auto;
  overflow-y: scroll;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: #242424;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23696969' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: none;
  height: 100dvh;
  width: 100%;
}

body.appear {
  display: flex;
  flex-direction: column;
}

header {
  height: var(--nav-height);
}

nav {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main {
  position: relative;
  z-index: 1;
  padding-top: 10.5rem;
}

main:has(*[data-section-status='loading']),
main:has(*[data-block-status='loading']),
footer:has(*[data-section-status='loading']),
footer:has(*[data-block-status='loading']) {
  display: none;
}

dialog:modal {
  max-height: 100%;
  max-width: 100%;
}

body.boxed main {
  width: 80%;
  margin: auto;
}

@media (width >= 1151px) {
  body.boxed main {
    width: 60%;
    margin: auto;
  }
}

@media (width <= 768px) {
  body.boxed main {
    width: 90%;
    margin: auto;
  }
}

/* if main has a .modal-active element, then make itself a red bg */
body.modal-active main {
  z-index: 9999991 !important;
}

/* used for the sidekick library */
body:has(header[style*='display: none;']) main {
  padding-top: 0;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

/* stylelint-disable */
.enzuzo-cookieButtonWrap *,
.enzuzo-cookieButtonWrap *::before,
.enzuzo-cookieButtonWrap *::after {
  content: none;
  filter: none;
}
/* stylelint-enable */

main input {
  font-size: 1.25rem;
  width: 100%;
  display: block;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* stylelint-disable */
main input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23fff"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>')
    no-repeat;
  background-size: 1em;
  cursor: pointer;
}
/* stylelint-enable */

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: '“';
  line-height: 0;
}

main blockquote p::after {
  content: '”';
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
}

.icon img {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 2rem 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:not(:has(> .search-wrapper), :has(> .products-wrapper), :has(> .hero-wrapper)) {
    display: flex;
  }
}

@media (width >= 900px) {
  .section {
    width: min(100%, 2000px);
    margin: auto;
  }
}

/* hexagons */
*:has(> .hex),
.button-container {
  filter: drop-shadow(var(--hexagon-drop-shadow));

  &:hover,
  &:focus,
  &:focus-within {
    filter: drop-shadow(var(--hexagon-focus-drop-shadow));
  }
}

.hero-content .button-container:has(> :only-child) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
}

.hex label,
.hex a {
  color: var(--text-color);
  hyphens: auto;
  word-wrap: break-word;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--body-font-family);
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex label:hover {
  color: var(--link-hover-color);
}

.hex {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: var(--hexagon-color);
  cursor: pointer;
  aspect-ratio: var(--hexagon-aspect-ratio);
  width: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: var(--hexagon-hover-color);
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

[data-align='center'] {
  text-align: center;
}

.glass-bg {
  background: #d9d9d90d;
  border-radius: 1rem;
  box-shadow: var(--hexagon-box-shadow);
  backdrop-filter: blur(5px);
  padding: 1rem;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

#cookie-notification:not(.appear) {
  display: none !important;
}

body.sidekick-library #cookie-notification {
  display: none !important;
}

@keyframes unfold-in {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfold-out {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
