.scroll-right-section {
  height: 500vh;
  position: relative;
}

.scroll-right-section ul,
.scroll-right-section li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scroll-right-section ul {
  display: flex;
  position: sticky;
  top: 0;
}

.scroll-right-section li {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.scroll-right-container,
.scroll-right-wrapper {
  padding: 0 !important;
  max-width: 100% !important;
  margin: 0 !important;
}

/* .scroll-right-item {
  height: 100dvh !important;
} */
